body{
    background-color: white;
}

.header-logo{
    background-color: #c5e4e7;
    height: 130px;
}

.header-logo img{
    position: relative;
    margin-left: 170px;
    margin-top: 45px;
}  

.calculator{
    background-color: white;
    height: 450px;
}

.calculator-content{
    margin-left: 15px;
    padding-top: 20px;
    color:#afb6b3;
}

.calculator-value{
    background-color: #f2f8fb;
    position: absolute;
    width: 380px;
    border: none;
    height: 50px;
    border-radius: 5px;
}

.calculator-value img{
    position: absolute;
    left: 15px;
    top: 20px;
}