body{
    background-color: white;
}

.header-logo{
    background-color: #c5e4e7;
    height: 130px;
}

.header-logo img{
    position: relative;
    margin-left: 255px;
    margin-top: 45px;
}

.calculator{
    background-color: white;
    height: 450px;
}

.calculator-insert-value{
    padding-top: 20px;
    color:#afb6b3;
}

/* .calculator-insert-value input{
    height: 25px;
    width: 375px;
} */

input{
    height: 25px;
    width: 615px;
}



.calculator-insert-value img{
    position: absolute;
    left: 35px;
    top: 215px;
}

.calculator-value-number{
  color:#0d4c4c;
}

.grid-container{
   display: grid;
   grid-template-columns: auto auto ;
   gap: 30px;
}

.grid-container button{
    border-radius: 5px;
    border: none;
    height: 40px;
    color: #ffffff;
    background-color: #00474a;
    font-size: 20px;
}

.calculator-percentage-custom{
    background-color: #f4f8fb !important;
    border: none;
    height: 40px;
    position: absolute;
    top: 429px;
    left: 337px;
    width: 300px;
    border-radius: 5px;
}

.calculator-percentage-custom p{
   color: #708381;
   font-size: larger;
   position: absolute;
   left: 105px;
   bottom: -17px;
}

.number-people{
    position: absolute;
    margin-top: 20px;
}

.number-people p{
    color:#afb6b3;
}

.number-people img{
  position: absolute;
 left: 20px;
  margin-top: 7px;
}

.result{
    /* position: absolute; */
    /* width: 405px; */
    height: 325px;
    background-color: #00474a ;
    margin-top: 160px;
    border-radius: 16px;
}

.result h1{
    color: #ffffff;
}

.result-value input {
    background: yellowgreen;
    border-radius: 10px;
    width: 500px;
    margin: 65px 55px;
}



.result-content{
    position: relative;
    left: 20px;
    font: 16px;
    top: 80px;
    color: #fff;
    top: 20px;
}

.result-content input{
    border: #afb6b3;
    position: absolute;
    width: 150px;
    background-color: red;
    left: 400px;
    top: 25px;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #00474a ;
    color: #ffffff;
    width: 622px;
    top: 592px;
    border-radius: 10px;
    height: 300px;
}

.placeholder-text::placeholder{
   color: blue;
}


